body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Cambria", sans-serif;
  color: #000;
  max-width: 100%;
}

/*body{
  overflow-x: hidden;
}*/

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 120%;
  width: auto;
}

/*#qcb_logo{
  position: absolute; 
  padding-top: 1.25rem; 
  padding-bottom: 1.25rem; 
  padding-left: 0.5rem; 
  top:0; 
  left:0;
  width: 200px;
}

@media only screen and (max-device-width:480px){
  #qcb_logo{
    width: 100px; 
  }
    
}*/

.col-md-5 {
  background-color: #1E1E1E;
  width: 475px;
  height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.article-text {
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 8px;
  width: 100%;
  background-color: #00000082;
  color: white;
  padding-left: 20px;
  padding-right: 40%;
  padding-top: 20%;
}

.container {
  opacity: 10%;
}

.cover {
  object-fit: cover;
  width: 100%
}

.order-md-2 {
  -ms-flex-order: 2;
  order: 2;
}

.marketing {
  margin-bottom: 50px;
  padding-top: .75rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes */
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS */
@media (min-width:40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width:62em) {
  .featurette-heading {
    margin-top: 7rem;
  }

}
