body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Cambria", sans-serif;
  letter-spacing: 2px;
  max-width: 100%;
  color: rgb(255, 255, 255);
  background-color: black;
}

.bgimg-1 {
  background-image: url(../images/classroom.JPG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  opacity: 1;
}

.card:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.665);
}

.card-body {
  color: black;
}

.row {
  align-items: center; 
  justify-content: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(3px);
  padding: 50px 10%;
  text-align: justify;
}

.row.featurette {
  padding: 0px 0%;
}

.article-text {
  font-family: 'Courier New', Courier, monospace;
  justify-self: center;
  text-align: center;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 8px;
  width: 100%;
  background-color: #ffffff43;
  color: white;
  padding: 10%;
}

.cover {
  object-fit: cover;
  width: 100%;
}

.container{
  opacity: 1;
  height: 300px;
}

.featurette-image {
  object-fit: cover;
  margin: 0;
}

.order-md-2 {
  -ms-flex-order: 2;
  order: 2;
}

.marketing {
  margin-bottom: 50px;
  padding-top: .75rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes */
.featurette-divider {
  margin-left: 20%;
  margin-right: 20%;
}

/* RESPONSIVE CSS */
@media (min-width:40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}